<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Битвы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Java Quiz</a>
		</div>
		<div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/user_page"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a>
					</li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<form method="post" action="/competition/battle/finish">
	<div class="container" style="padding-top: 40px">
		<h2 style="text-align: center; padding-top: 40px; padding-bottom: 40px;" th:if="${opponent != null}" th:utext="'Ваш соперник: ' + ${opponent.getUserData().getName()}"></h2>
		<h2 style="text-align: center; padding-top: 40px; padding-bottom: 40px;" th:if="${opponent == null}" th:utext="'Вы первый участник соревнования'"></h2>
		<input th:if="${opponent != null}" type="hidden" name="opponentId" th:value="${opponent.getId()}">
		<input type="hidden" name="competitionId" th:value="${competition.getId()}">
		<input type="hidden" name="currentContestant" th:value="${currentContestantId}">
		<ul class="nav nav-tabs">
			<li th:each="task : ${competition.getTasks()}"><a data-toggle="tab" th:utext="${task.getViewUtil().getMenuCounter()}" th:href="${'#' + task.getViewUtil().getMenu()}" href="#menu1"></a></li>
		</ul>
		<div class="tab-content">
			<div th:each="task : ${competition.getTasks()}" th:id="${task.getViewUtil().getMenu()}" id="menu1" class="tab-pane fade">
				<h3 th:utext="${task.getQuestion()}">Что такое класс?</h3>
				<div th:each="option : ${task.getTaskOption()}" class="checkbox">
					<label><input type="checkbox" th:name="${task.getId()}" th:utext="${option.getOption().getOption()}" th:value="${option.getOption().getId()}"></label>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div style="position: relative; padding-top: 50px; text-align: center;">
			<input id="my-button" type="submit" class="btn btn-primary" value="Закончить"/>
		</div>
		<div style="position: relative; padding-top: 50px; text-align: center;">
			<p id="demo"></p>
		</div>
	</div>
</form>
<script>
	var seconds = 60;
	setInterval(function () {
		document.getElementById("demo").innerHTML = seconds + "s ";
		seconds--;
		if (seconds < 0) {
			document.getElementById("my-button").click();
		}
	}, 1000);
</script>
</body>
</html>