<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Results</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main Page</title>
	<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.row {
			background-color: #cecfd2;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Java Quiz</a>
		</div>
		<div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/competition/list"><span class="glyphicon glyphicon-knight"></span> Соревнования</a></li>
					<li><a href="/user_page"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a></li>
					<li><a href="/theory"><span class="glyphicon glyphicon-book"></span> Теория</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div style="padding-top: 40px;">
	<div style="text-align: center">
		<h1>Результаты соревнования</h1>
	</div>
	<div style="text-align: center; padding-top: 10px">
		<img src="/images/mini/java_mini.png" alt="Cinque Terre" style="width:80px;height:80px;">
	</div>
	<div>
		<div style="float: left">
			<div style="text-align: center; padding-top: 40px">
				<h2>Ваши результаты</h2>
			</div>
			<div class="container" style="padding-top: 40px; width: 300px">
				<div th:each="result : ${currentContestantResults}">
					<div class="row">
						<div class="col-sm-12" th:utext="${result.getTask().getQuestion()}" style="text-align: center">Основные принципы ООП</div>
					</div>
					<div th:each="option : ${result.getTaskOptions()}">
						<div th:if="${option.getCorrect()}" class="row" style="background-color: #2df622">
							<div class="col-sm-12" th:utext="${option.getOption().getOption()}">Полиморфизм</div>
						</div>
						<div th:if="${!option.getCorrect()}" class="row" style="background-color: red">
							<div class="col-sm-12" th:utext="${option.getOption().getOption()}">Полиморфизм</div>
						</div>
					</div>
					<div class="row" style="text-align: center">
						<div th:if="${result.getCorrect()}" class="col-sm-12" th:utext="'+' + ${result.getTask().getPrestige()} + ' prestige' " style="">Итог: +10 prestige</div>
					</div>
					<div class="row" style="text-align: center">
						<div th:if="${!result.getCorrect()}" class="col-sm-12" th:utext="'-' + ${result.getTask().getPrestige()} + ' prestige' " style="">Итог: +10 prestige</div>
					</div>
					<hr/>
				</div>
				<div class="row" style="text-align: center">
					<div class="col-sm-12">Заработанный престиж</div>
					<div class="col-sm-12" style="background-color: grey" th:if="${opponent.getScore() == currentContestant.getScore()}" th:utext="${0 + ' prestige'}"></div>
					<div class="col-sm-12" style="background-color: #2df622" th:if="${opponent.getPrestige() < currentContestant.getPrestige()}" th:utext="${'+' + currentContestant.getPrestige() + ' prestige'}"></div>
					<div class="col-sm-12" style="background-color: red" th:if="${opponent.getPrestige() > currentContestant.getPrestige()}" th:utext="${'-' + currentContestant.getPrestige() + ' prestige'}"></div>
				</div>
			</div>
		</div>
		<div style="padding-left: 10%; float: left">
			<div style="text-align: center; padding-top: 40px">
				<h2>Правильные ответы</h2>
			</div>
			<div class="container" style="padding-top: 40px; width: 300px">
				<div th:each="correctResult : ${correctResults}">
					<div class="row" style="text-align: center">
						<div class="col-sm-12" th:utext="${correctResult.getQuestion()}">Основные принципы ООП</div>
					</div>
					<div th:if="${correctResult.getTaskOption().isEmpty()}">
						<h1>Empty</h1>
					</div>
					<div th:each="option : ${correctResult.getTaskOption()}">
						<div th:if="${option.getCorrect() == true}" class="row">
							<div class="col-sm-12" style="background-color: #2df622" th:utext="${option.getOption().getOption()}">Полиморфизм</div>
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right">
		<div style="text-align: center; padding-top: 40px">
			<h2>Результаты соперника</h2>
		</div>
		<div class="container" style="padding-top: 40px; width: 300px">
			<div th:each="result : ${opponentResults}">
				<div class="row">
					<div class="col-sm-12" th:utext="${result.getTask().getQuestion()}" style="text-align: center">Основные принципы ООП</div>
				</div>
				<div th:each="option : ${result.getTaskOptions()}">
					<div th:if="${option.getCorrect()}" class="row" style="background-color: #2df622">
						<div class="col-sm-12" th:utext="${option.getOption().getOption()}">Полиморфизм</div>
					</div>
					<div th:if="${!option.getCorrect()}" class="row" style="background-color: red">
						<div class="col-sm-12" th:utext="${option.getOption().getOption()}">Полиморфизм</div>
					</div>
				</div>
				<div class="row" style="text-align: center">
					<div th:if="${result.getCorrect()}" class="col-sm-12" th:utext="'+' + ${result.getTask().getPrestige()} + ' prestige' " style="">Итог: +10 prestige</div>
				</div>
				<div class="row" style="text-align: center">
					<div th:if="${!result.getCorrect()}" class="col-sm-12" th:utext="'-' + ${result.getTask().getPrestige()} + ' prestige' " style="">Итог: +10 prestige</div>
				</div>
				<hr/>
			</div>
			<div class="row" style="text-align: center">
				<div class="col-sm-12">Заработанный престиж</div>
				<div class="col-sm-12" style="background-color: grey" th:if="${opponent.getScore() == currentContestant.getScore()}" th:utext="${0 + ' prestige'}"></div>
				<div class="col-sm-12" style="background-color: #2df622" th:if="${opponent.getPrestige() > currentContestant.getPrestige()}" th:utext="${'+' + opponent.getPrestige() + ' prestige'}"></div>
				<div class="col-sm-12" style="background-color: red" th:if="${opponent.getPrestige() < currentContestant.getPrestige()}" th:utext="${'-' + opponent.getPrestige() + ' prestige'}"></div>
			</div>
		</div>
	</div>
</div>

</body>
</html>