<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Results</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main Page</title>
	<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Java Quiz</a>
		</div>
		<div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/competition/list"><span class="glyphicon glyphicon-knight"></span> Соревнования</a></li>
					<li><a href="/user_page"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a></li>
					<li><a href="/theory"><span class="glyphicon glyphicon-book"></span> Теория</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div style="padding-top: 40px">
	<div style="text-align: center">
		<h1>Результаты соревнования</h1>
	</div>
	<div style="text-align: center; padding-top: 10px">
		<img src="/images/mini/java_mini.png" alt="Cinque Terre" style="width:80px;height:80px;">
	</div>
	<div class="container" style="text-align: center; padding-top: 30px;">
		<div>
			<div style="float: left; padding-left: 200px;">
				<h2>Вы</h2>
			</div>
			<div style="float: right; padding-right: 180px">
				<h2>Михаил</h2>
			</div>
		</div>
	</div>
	<div>
		<hr style="border-width: 5px; border-color: black"/>
	</div>
	<div>
		<div>
			<div class="container" style="text-align: center;">
				<h2>Основные принципы ООП</h2>
			</div>
			<div class="container">
				<div style="float: left">
					<h2 style="color: #2df622">Инкапсуляция</h2>
					<h2 style="color: #2df622">Полиморфизм</h2>
					<h2 style="color: #2df622">Наследование</h2>
				</div>
				<div style="text-align: center;padding-left: 250px">
					<h2>Инкапсуляция</h2>
					<h2>Полиморфизм</h2>
					<h2>Наследование</h2>
				</div>
				<div style="float: right">
					<h2 style="color: #2df622">Инкапсуляция</h2>
					<h2 style="color: red">Сегрегация</h2>
				</div>
			</div>
		</div>
		<div>
			<hr style="border-width: 5px; border-color: black"/>
		</div>
		<div>
			<div class="container" style="text-align: center;">
				<h2>АОП расширяет ООП?</h2>
			</div>
			<div class="container">
				<div style="float: left">
					<h2 style="color: #2df622">Да</h2>
				</div>
				<div style="text-align: center; float: left; padding-left: 250px">
					<h2>Да</h2>
				</div>
				<div style="float: right">
					<h2 style="color: red">Нет</h2>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>