<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Theory</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Java Quiz</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/competition"><span class="glyphicon glyphicon-knight"></span> Состязания</a></li>
                    <li><a href="/user_page"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a>
                    </li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 40px">
    <h2>Теория</h2>
    <p>Выберите уровень сложности теории</p>
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menu1">Базовый</a></li>
        <li><a data-toggle="tab" href="#menu2">Средний</a></li>
        <li><a data-toggle="tab" href="#menu3">Продвинутый</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade">
            <h3>Что такое ООП?</h3>
            <p>Объектно-ориентированное программирование (ООП) — методология программирования,
                основанная на представлении программы в виде совокупности объектов,
                каждый из которых является экземпляром определенного класса,
                а классы образуют иерархию наследования.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
</body>
</html>