<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Админка</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Java Quiz</a>
		</div>
		<div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/admin/competition"><span class="glyphicon glyphicon-star"></span> Админ панель (соревнования)</a></li>
					<li><a href="/admin/theory"><span class="glyphicon glyphicon-star"></span> Админ панель (теория)</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="container" style="padding-top: 60px">
	<form name="saveForm" method="post" action="/admin/theory/update" enctype="multipart/form-data" onsubmit="return(validateContent());">
		<div class="form-group">
			<label for="theory_cat">Категория:</label>
			<select name="category" class="form-control" id="theory_cat">
				<option th:each="category : ${categories}" th:if="${category.getId() == theory.getCategory().getId()}" th:selected="true" th:utext="${category.getCategory()}">1</option>
				<option th:each="category : ${categories}" th:if="${category.getId() != theory.getCategory().getId()}" th:selected="false" th:utext="${category.getCategory()}">1</option>
			</select>
		</div>
		<div class="form-group">
			<label for="title">Заголовок:</label>
			<textarea th:utext="${theory.getTitle()}" name="title" class="form-control" rows="1" id="title"></textarea>
		</div>
		<input type="hidden" name="theoryId" id="hiddenTheoryId" th:value="${theory.getId()}">
		<div class="form-group" id="error">
			<label for="errorContent">Ошибки:</label>
			<textarea readonly class="form-control" rows="5" id="errorContent"></textarea>
		</div>
		<div class="form-group">
			<label for="content">Содержание:</label>
			<textarea th:utext="${theory.getDescription()}" name="content" class="form-control" rows="5" id="content"></textarea>
		</div>
		<div class="form-group">
			<label>Вложение (до 3 картинок)</label>
			<p>Картинки вставлять в текст в виде "%картинка 1%", "%картинка 2%" и "%картинка 3%"</p>
			<div>
				<div>
					<label for="firstImage">Первая картинка</label>
					<input name="firstImage" type="file" class="form-control-file" id="firstImage">
				</div>
				<div>
					<label>Размер: </label>
					<label class="radio-inline">
						<input type="radio" name="firstImageSize" checked value="SMALL">Маленький
					</label>
					<label class="radio-inline">
						<input type="radio" name="firstImageSize" value="AVERAGE">Средний
					</label>
					<label class="radio-inline">
						<input type="radio" name="firstImageSize" value="BIG">Большой
					</label>
				</div>
				<div class="form-group">
					<label for="firstPictureCaption">Подпись к рисунку 1:</label>
					<textarea name="firstPictureCaption" class="form-control" rows="1" id="firstPictureCaption"></textarea>
				</div>
				<div>
					<div>
						<label for="secondImage">Вторая картинка</label>
						<input name="secondImage" type="file" class="form-control-file" id="secondImage">
					</div>
					<div>
						<label>Размер: </label>
						<label class="radio-inline"><input type="radio" name="secondImageSize" checked value="SMALL">Маленький</label>
						<label class="radio-inline"><input type="radio" name="secondImageSize" value="AVERAGE">Средний</label>
						<label class="radio-inline"><input type="radio" name="secondImageSize" value="BIG">Большой</label>
					</div>
					<div class="form-group">
						<label for="secondPictureCaption">Подпись к рисунку 2:</label>
						<textarea name="secondPictureCaption" class="form-control" rows="1" id="secondPictureCaption"></textarea>
					</div>
				</div>
				<div>
					<div>
						<label for="thirdImage">Третья картинка</label>
						<input name="thirdImage" type="file" class="form-control-file" id="thirdImage">
					</div>
					<div>
						<label>Размер: </label>
						<label class="radio-inline"><input type="radio" name="thirdImageSize" checked value="SMALL">Маленький</label>
						<label class="radio-inline"><input type="radio" name="thirdImageSize" value="AVERAGE">Средний</label>
						<label class="radio-inline"><input type="radio" name="thirdImageSize" value="BIG">Большой</label>
					</div>
				</div>
				<div class="form-group">
					<label for="thirdPictureCaption">Подпись к рисунку 3:</label>
					<textarea name="thirdPictureCaption" class="form-control" rows="1" id="thirdPictureCaption"></textarea>
				</div>
			</div>
		</div>
		<div th:if="${!theory.getAttachments().isEmpty()}">
			<label>Существующие картинки:</label>
			<div th:each="picture : ${theory.getAttachments()}" th:if="${picture.getType().toString() != 'VIDEO'}" th:id="${picture.getId() + 'picture'}">
				<p style="padding-top: 10px">Картинка 1</p>
				<div>
					<button type="button" class="btn btn-default" th:value="${picture.getId()}" th:onclick="'deleteFile(\'' + ${picture.getId()} + '\');'">Удалить первую картинку</button>
				</div>
				<div>
					<figure>
						<img style="width:550px;height:350px;" th:if="${picture.getSize().toString() == 'SMALL'}" th:src="${'/' + picture.getPath()}" src="/images/main/apache.png" class="img-thumbnail"
						     alt="Cinque Terre">
						<img style="width:1000px;height:700px;" th:if="${picture.getSize().toString() == 'AVERAGE'}" th:src="${'/' + picture.getPath()}" src="/images/main/apache.png" class="img-thumbnail"
						     alt="Cinque Terre">
						<img style="width:1400px;height:1000px;" th:if="${picture.getSize().toString() == 'BIG'}" th:src="${'/' + picture.getPath()}" src="/images/main/apache.png" class="img-thumbnail"
						     alt="Cinque Terre">
						<figcaption th:utext="${picture.getCaption()}" class="figure-caption text-center">A caption for the above image.</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="form-group" style="padding-top: 20px">
			<div th:if="${linkAttach != null}">
				<label for="linkAttach">Вложение (ссылка на видео):</label>
				<p>Ссылку на видео вставлять в текст в виде "%видео%"</p>
				<textarea th:utext="${linkAttach.getPath()}" name="linkAttach" class="form-control" rows="1" id="linkAttach"></textarea>
			</div>
			<div th:if="${linkAttach == null}">
				<label for="linkAttach">Вложение (ссылка на видео):</label>
				<p>Ссылку на видео вставлять в текст в виде "%видео%"</p>
				<textarea name="linkAttach" class="form-control" rows="1" id="linkAttach"></textarea>
			</div>
		</div>
		<div class="container" style="">
			<input type="submit" class="btnSubmit" value="Сохранить"/>
			<a th:href="'/admin/theory/delete/' + ${theory.getId()}" href="/admin/theory/0" class="btn" role="button" style="float: right">Удалить запись</a>
		</div>
	</form>
</div>
<script>
	function validateContent() {
		let re = new RegExp('.*(\\.jpg|\\.png)');
		var status = null;
		var additionalInfo = "";
		var xmlhttp = new XMLHttpRequest();
		if (document.getElementById("firstImage").value != "") {
			if (!re.test(document.getElementById("firstImage").value)) {
				alert("Тип файла для первого изображения невалидный!");
				return false;
			}
			if (document.getElementById("firstPictureCaption").value == "") {
				alert("Подпись к первому рисунку отсутствует");
				return false;
			}
			additionalInfo += "firstImageExist=true&";
		}
		if (document.getElementById("secondImage").value != "") {
			if (!re.test(document.getElementById("secondImage").value)) {
				alert("Тип файла для второго изображения невалидный!");
				return false;
			}
			if (document.getElementById("secondPictureCaption").value == "") {
				alert("Подпись ко второму рисунку отсутствует");
				return false;
			}
			additionalInfo += "secondImageExist=true&";
		}
		if (document.getElementById("thirdImage").value != "") {
			if (!re.test(document.getElementById("thirdImage").value)) {
				alert("Тип файла для третьего изображения невалидный!");
				return false;
			}
			if (document.getElementById("thirdPictureCaption").value == "") {
				alert("Подпись к третьему рисунку отсутствует");
				return false;
			}
			additionalInfo += "thirdImageExist=true&";
		}
		if (document.getElementById("linkAttach").value != "") {
			additionalInfo += "linkAttachExist=true&";
		}
		if (document.getElementById("hiddenTheoryId").value !== "0") {
			additionalInfo += "theoryId=" + document.getElementById("hiddenTheoryId").value + "&";
		}
		xmlhttp.onreadystatechange = function () {
			if (xmlhttp.readyState == XMLHttpRequest.DONE) {
				if (xmlhttp.status == 200) {
					if (xmlhttp.responseText === "ok") {
						status = true;
					} else {
						alert('Возникла ошибка. Смотри на панель "Ошибки"');
						document.getElementById("errorContent").innerHTML = xmlhttp.responseText;
						status = false;
					}
				} else if (xmlhttp.status === 400) {
					alert('Заполните поля');
					status = false;
				} else {
					alert('something else other than 200 was returned');
					status = false;
				}
			}
		};
		xmlhttp.open("POST", "/validation/validate?" + additionalInfo, false);
		xmlhttp.send(document.getElementById("content").value);
		while (xmlhttp.readyState != XMLHttpRequest.DONE || status == null) {
		}
		return status !== false;
	}

	function deleteFile(id) {
		var xmlHttpRequest = new XMLHttpRequest();
		xmlHttpRequest.onreadystatechange = function () {
			if (xmlHttpRequest.readyState == XMLHttpRequest.DONE) {
				if (xmlHttpRequest.status == 200) {
					if (xmlHttpRequest.responseText === "ok") {
						var picture = document.getElementById(id + 'picture');
						picture.remove();
					}
				} else if (xmlHttpRequest.status === 400) {
					alert('400 returned');
				} else {
					alert('something else other than 200 was returned');
				}
			}
		};
		xmlHttpRequest.open("POST", "/attachment/delete/" + id, false);
		xmlHttpRequest.send();
	}
</script>
</body>
</html>