<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Theory</title>
	<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Java Quiz</a>
		</div>
		<div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/competition/list"><span class="glyphicon glyphicon-knight"></span> Состязания</a></li>
					<li><a href="/user_page"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a>
					</li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="container" style="padding-top: 40px">
	<h2>Теория</h2>
	<ul class="nav nav-tabs">
		<li th:each="category : ${categories}"><a th:utext="${category.getCategory()}" data-toggle="tab" th:href="${'#' + category.getMenu()}">Основы ООП</a></li>
	</ul>
	<div class="tab-content">
		<div th:each="category : ${categories}" th:id="${category.getMenu()}" class="tab-pane fade">
			<hr style="border-width: 5px"/>
			<div th:each="theory : ${category.getTheories()}">
				<h3 th:utext="${theory.getTitle()}">Что такое ООП?</h3>
				<p th:utext="${theory.getDescription()}">Объектно-ориентированное программирование (ООП) — методология программирования</p>
				<hr style="border-width: 5px"/>
			</div>
		</div>
	</div>
</div>
</body>
</html>