<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Java Quiz</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/competition"><span class="glyphicon glyphicon-knight"></span> Соревнования</a></li>
                    <li><a href="/theory"><span class="glyphicon glyphicon-book"></span> Теория</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div style="padding-top: 40px">
    <h1>Краткая информация</h1>
    <p>Имя пользователя</p>
    <p>С нами с 13.04.20</p>
    <h1>Прогресс</h1>
    <p>Престиж - 140</p>
    <p>Провел количество битв - 230</p>
    <p>Количество побед - 150</p>
    <p>Количество проигрышей - 80</p>
</div>
</body>
</html>